/* Folha de estilo global */

:root{

    --primary-color: #F9A620; /* Laranja */
    --secondary-color: #A8D5E2; /* Azul Claro */
    --highlight-color: #FFD449; /* Amarelo */
    --text-color: #548C2F; /* Verde Médio */
    --muted-color: #104911; /* Verde Escuro */   
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color); /* Fundo da página com o azul claro */
    font-family: 'Roboto', sans-serif;
  }
  
  /* Estrutura principal da página de login */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Seção do formulário de login */
  .form-section {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .form-section h1 {
    color: var(--primary-color); /* Título com cor laranja */
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .form-section .form-group {
    margin-bottom: 20px;
  }
  
  .form-section label {
    font-size: 1.1rem;
    color: var(--text-color); /* Verde para o texto */
    margin-bottom: 5px;
  }
  
  .form-section input {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--highlight-color); /* Amarelo nas bordas do input */
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .form-section input:focus {
    border-color: var(--primary-color); /* Laranja ao focar no campo */
  }
  
  .form-section .btn-login {
    background-color: var(--primary-color); /* Botão com cor laranja */
    color: white;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-section .btn-login:hover {
    background-color: var(--highlight-color); /* Efeito amarelo ao passar o mouse */
  }
  
  .form-section .text-span {
    margin-top: 10px;
    font-size: 0.9rem;
    color: var(--muted-color); /* Verde escuro */
  }
  
  .form-section .text-span a {
    color: var(--primary-color); /* Link com laranja */
    text-decoration: none;
  }
  
  .form-section .text-span a:hover {
    color: var(--highlight-color); /* Amarelo ao passar o mouse no link */
  }

